h2 {
    margin-left: 0;
}

body {
    background-image: var(--gradiente-bg);
}

.mb-n1 {
    margin-bottom: -2.25rem;
}

.mt-n1 {
    margin-top: -4.25rem;
}

.figtabela {
    padding: 15px;
}

.borda-colorida {
    border-radius: 35px !important;
}

.marcador2 {
    display: inline-block;
}

.diferentedes {
    max-width: 60%;
    margin: auto;
}

.bt-baixar {
    width: 297px;
    height: 92px;
    border: none;
    transition: all .4s;
    background: url('../img/bt_baixar.png') no-repeat;
}

.bt-baixar:hover {
    scale: 1.1;
}

.painel1 button {
    width: 260px;
    height: 304px;
    border: none;
    transition: all .4s;
}

.bt-primeiro {
    background: url('../img/bt1.png') no-repeat;
}

.bt-primeiro:hover {
    background: url('../img/bt1_hv.png') no-repeat;
}

.bt-segundo {
    background: url('../img/bt2.png') no-repeat;
}

.bt-segundo:hover {
    background: url('../img/bt2_hv.png') no-repeat;
}

.bt-terceiro {
    background: url('../img/bt3.png') no-repeat;
}

.bt-terceiro:hover {
    background: url('../img/bt3_hv.png') no-repeat;
}

.marcador li {
    list-style: none;
    background: url('../img/marcador.png') no-repeat;
    padding-left: 40px;
    min-height: 31px;
    margin-bottom: 5px;
}

.painel2 button {
    width: 275px;
    height: 285px;
    border: none;
}

.bt-admgeral {
    background: url('../img/bt_administracao.png') no-repeat;
}

.bt-admgeral:hover {
    background: url('../img/bt_adm_geral_hv.png') no-repeat;
}

.bt-recursos {
    background: url('../img/bt_rh.png') no-repeat;
}

.bt-recursos:hover {
    background: url('../img/bt_rh_hv.png') no-repeat;
}

.bt-financas {
    background: url('../img/bt_financas.png') no-repeat;
}

.bt-financas:hover {
    background: url('../img/bt_financas_hv.png') no-repeat;
}

.bt-producao {
    background: url('../img/bt_producao.png') no-repeat;
}

.bt-producao:hover {
    background: url('../img/bt_producao_hv.png') no-repeat;
}

.bt-comercial {
    background: url('../img/bt_comercial.png') no-repeat;
}

.bt-comercial:hover {
    background: url('../img/bt_comercial_hv.png') no-repeat;
}

@media screen and (max-width: 768px) {
    .mb-n1 {
        margin-bottom: unset;
    }

    .mt-n1 {
        margin-top: unset;
    }

}