h2 {
    margin-left: 0;
}

body {
    background-image: var(--gradiente-bg);
}

.mb-n1 {
    margin-bottom: -2.25rem;
}

.mt-n1 {
    margin-top: -4.25rem;
}

.figtabela {
    padding: 15px;
}

.borda-colorida {
    border-radius: 35px !important;
}

.marcador2 {
    display: inline-block;
}

.diferentedes {
    max-width: 60%;
    margin: auto;
}

.bt-baixar {
    width: 297px;
    height: 92px;
    border: none;
    transition: all .4s;
    background: url('../img/bt_baixar.png') no-repeat;
}

.bt-baixar:hover {
    scale: 1.1;
}

.painel1 button {
    border: none;
    transition: all .4s;
    position: relative;
}

.bt-primeiro {
    background: url('../img/bt1.png') no-repeat;
    width: 160px;
    height: 217px;
    left: 133px;
    top: -18px;
}

.bt-segundo {
    background: url('../img/bt2.png') no-repeat;
    width: 145px;
    height: 208px;
    left: 112px;
    top: -22px;
}

.bt-terceiro {
    background: url('../img/bt3.png') no-repeat;
    width: 240px;
    height: 107px;
    left: -150px;
    top: 100px;
}

.painel1 button:hover {
    scale: 1.1;
}

.painel1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 90px;
    align-items: center;
    align-content: center;
}

.marcador li {
    list-style: none;
    background: url('../img/marcador.png') no-repeat;
    padding-left: 40px;
    min-height: 31px;
    margin-bottom: 5px;
}

.painel2 button {
    width: 301px;
    height: 318px;
    border: none;
    position: relative;
}

.painel2 {
    background-position: center;
    background-size: contain;
    border: none;
    background-image: url(../img/01_1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem !important;
    margin-top: 3rem !important;
}

.bt-admgeral {
    background: url('../img/bt_administracao.png') no-repeat;
    top: 60px;
}

.bt-producao {
    background: url('../img/bt_producao.png') no-repeat;
    left: 100px;
    top: 180px;
}

.bt-recursos {
    background: url('../img/bt_rh.png') no-repeat;
    left: 400px;
    top: -70px;
}

.bt-financas {
    background: url('../img/bt_financas.png') no-repeat;
    left: 100px;
    top: 200px;
}

.bt-comercial {
    background: url('../img/bt_comercial.png') no-repeat;
    left: 245px;
    top: 150px;
}

.bt-admgeral:hover {
    background: url('../img/bt_adm_geral_hv.png') no-repeat;
}

.bt-recursos:hover {
    background: url('../img/bt_rh_hv.png') no-repeat;
}

.bt-financas:hover {
    background: url('../img/bt_financas_hv.png') no-repeat;
}

.bt-producao:hover {
    background: url('../img/bt_producao_hv.png') no-repeat;
}

.bt-comercial:hover {
    background: url('../img/bt_comercial_hv.png') no-repeat;
}

@media screen and (max-width: 768px) {
    .mb-n1 {
        margin-bottom: unset;
    }

    .mt-n1 {
        margin-top: unset;
    }

    .painel2 {
        margin-bottom: 10px !important;
        background-image: none;
        margin-top: 10px !important;
    }

    .painel2 button {
        position: unset;
    }

    .bt-comercial,
    .bt-financas,
    .bt-recursos,
    .bt-producao,
    .bt-admgeral {
        left: unset;
        top: unset;
    }

}


@media screen and (max-width: 625px) {
    .painel1 button {
        position: unset;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .bt-primeiro,
    .bt-segundo,
    .bt-terceiro {
        right: unset;
        top: unset;
        left: unset;
    }

    .bt-primeiro {
        transform: rotate(55deg);
    }

    .bt-segundo {
        transform: rotate(-65deg);
    }

    .painel1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }

}