body {
    background-image: url('../img/bg_esquerda_direita.png'),
        url('../img/bg_esquerda_direita.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top 100px, right bottom;
    background-size: 10%, 10%;
    background-color: #fff;
}

.joana {
    background-image: url('../img/bg_joana.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    background-position: right;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 110px;
}

.pops {
    background-image: url('../img/bg_pop.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    background-position: right;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 110px;
}

.espera {
    width: 80%;
    height: 300px;
    margin: auto;
    color: #fff;
    background-color: #92ACCE;
    border-radius: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .joana {
        background: var(--gradiente-secundario);
        padding: 20px;
    }

    .pops {
        background: var(--gradiente-secundario);
        padding: 20px;
    }
}