body {
    background-image: url('../img/bg_esquerda_direita.png'),
        url('../img/bg_esquerda_direita.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top 100px, right bottom;
    background-size: 10%, 10%;
    background-color: #fff;
}

.mb-n1 {
    margin-bottom: -2.25rem !important;
}

.mt-n1 {
    margin-top: -3.25rem !important;
}

.citacao {
    text-align: justify;
    padding-left: 100px;
}

.modal-body .img03 {
    width: 70%;
}

.figtabela {
    padding: 15px;
}

.marcador3 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.marcador li {
    list-style: none;
    background: url('../img/marcador.png') no-repeat;
    padding-left: 40px;
    min-height: 31px;
    margin-bottom: 5px;
}

.marcador2 {
    display: inline-block;
    text-align: justify;
}

.bt-baixar {
    width: 297px;
    height: 92px;
    border: none;
    transition: all .4s;
    background: url('../img/bt_baixar.png') no-repeat;
}

.bt-baixar:hover {
    scale: 1.1;
}

.espera {
    width: 80%;
    height: 300px;
    margin: auto;
    color: #fff;
    background-color: #92ACCE;
    border-radius: 20px;
    font-weight: bold;
}

.botao {
    text-decoration: none;
    color: inherit;
}

.painel1 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.bt-painel1 {
    background-color: transparent;
    border: none;
    width: 288px;
    height: 155px;
    margin: 10px;
    transition: transform 0.2s, filter 0.2s;
    outline: none;
}

.bt-painel1:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1));
}

.bt1-painel1 {
    background-image: url('../img/bt_gestao_pessoas.png');
}

.bt2-painel1 {
    background-image: url('../img/bt_logistica.png');
}

.bt3-painel1 {
    background-image: url('../img/bt_financas.png');
}

.bt4-painel1 {
    background-image: url('../img/bt_mkt.png');
}

.bt5-painel1 {
    background-image: url('../img/bt_vendas.png');
}

.bt6-painel1 {
    background-image: url('../img/bt_juridico.png');
}

.bt7-painel1 {
    background-image: url('../img/bt_encerramento.png');
}


#feedback-acerto {
    display: none;
    background-color: #92ACCE;
    color: #fff;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
}

#feedback-erro {
    display: none;
    background-color: #92ACCE;
    color: #fff;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
}

@media screen and (max-width: 500px) {
    .citacao {
        padding-left: 20%;
    }

    .modal-body .img03 {
        width: 100%;
    }

    .marcador2 {
        text-align: left;
    }

    .bt-baixar {
        scale: 0.6;
        margin-left: -90px;
    }

    .bt-painel1:hover {
        transform: scale(0.7);
    }
}