#booklet {
    background: url('../img/bg.png') no-repeat top 300px left,
        url('../img/bg02.png') no-repeat top 300px right;
}

h2 span {
    font-size: .8em;
}

.imgmenor {
    max-width: 25% !important;
}

.accordion h2 {
    margin-left: 0;
}

.eficacia {
    border-radius: 10px;
    padding: 15px;
}

.espera {
    width: 80%;
    height: 300px;
    margin: auto;
    color: #fff;
    background-color: #92ACCE;
    border-radius: 20px;
    font-weight: bold;
}

.modal-body .grafismo {
    margin: 0 auto;
    width: 80%;
}

.painel button {
    border: none;
    position: relative;
}

.painel button.visitado::after {
    background: url('../../assets/images/check.svg') no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 5px;
    content: '';
}

.bt-adm-cientifica {
    background: url("../img/bt1.png") no-repeat;
    width: 245px;
    height: 126px;
}

.bt-adm-cientifica:hover {
    background: url("../img/bt1_hv.png") no-repeat;
}



.marcador li {
    list-style: none;
    background: url('../img/marcador.png') no-repeat;
    padding-left: 40px;
    min-height: 31px;
    margin-bottom: 5px;
}

.bt-teoria-classica {
    background: url("../img/bt2.png") no-repeat;
    width: 245px;
    height: 126px;
}

.bt-teoria-classica:hover {
    background: url("../img/bt2_hv.png") no-repeat;
}

.bt-adm-humanista {
    background: url("../img/bt3.png") no-repeat;
    width: 245px;
    height: 126px;
}

.bt-adm-humanista:hover {
    background: url("../img/bt3_hv.png") no-repeat;
}

.marcador.alvo li {
    list-style: none;
    background: url('../img/marcador_alvo.png') no-repeat;
    padding-left: 40px;
    min-height: 33px;
    margin-bottom: 5px;
}

.bt-teoria-neoclassica {
    background: url("../img/bt4.png") no-repeat;
    width: 245px;
    height: 126px;
}

.bt-teoria-neoclassica:hover {
    background: url("../img/bt4_hv.png") no-repeat;
}

.bt-modelo-japones {
    background: url("../img/bt5.png") no-repeat;
    width: 245px;
    height: 126px;
}

.bt-modelo-japones:hover {
    background: url("../img/bt5_hv.png") no-repeat;
}

.bt-adm-atuais {
    background: url("../img/bt6.png") no-repeat;
    width: 245px;
    height: 126px;
}

.bt-adm-atuais:hover {
    background: url("../img/bt6_hv.png") no-repeat;
}

@media screen and (max-width: 1800px) {
    #booklet {
        background-size: 18%;
    }
}

@media screen and (max-width: 1300px) {
    #booklet {
        background: none;
    }
}

@media screen and (max-width: 800px) {
    .imgmenor {
        max-width: 55% !important;
        margin: auto !important;
    }
    .destaque.icone {
        margin-top: 90px;
        padding: 40px 10px 10px 10px;
    }
}

@media screen and (max-width: 580px) {
    .info {
        width: 100%;
    }

}