.bloco1,
.bloco3,
.bloco5,
.bloco7,
.bloco9,
.bloco11 {
    background: linear-gradient(rgba(146, 172, 205, 0.3), rgba(146, 172, 205, 0.3));
    padding-bottom: 50px;
    padding-top: 10px;
}

.bloco2,
.bloco4,
.bloco6,
.bloco8,
.bloco10 {
    background-color: #007792;
    padding-bottom: 50px;
    padding-top: 10px;
    color: #fff;
}

.bloco2 .modal-body {
    color: #000;
}

.bloco8 .modal-body {
    color: #000;
}

/*.painel1 {
     width: 930px;
    height: 790px;
    margin: 50px auto; 
}*/
.citacao {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.painel1_2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.painel1_3 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.painel1_4 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.painel1 button {
    border: none;
    position: relative;
}

.bt-comunicacao {
    background: url('../img/bt_comunicacao.png') no-repeat;
    width: 222px;
    height: 183px;
}

.bt-valores {
    background: url('../img/bt_valores.png') no-repeat;
    width: 222px;
    height: 222px;
    top: 19px;
    right: -40px;
}

.bt-normas {
    background: url('../img/bt_normas.png') no-repeat;
    width: 223px;
    height: 183px;
    top: -60px;
    right: 60px;
}

.bt-herois {
    background: url('../img/bt_herois.png') no-repeat;
    width: 183px;
    height: 262px;
    top: -60px;
    right: -62px;
}

.bt-crencas {
    background: url('../img/bt_crencas.png') no-repeat;
    width: 222px;
    height: 183px;
    right: -22px;
    top: -61px;
}

.bt-ritos {
    background: url('../img/bt_ritos.png') no-repeat;
    width: 223px;
    height: 262px;
    top: -61px;
    right: 19px;
}

.bt-historias {
    background: url('../img/bt_historias.png') no-repeat;
    width: 222px;
    height: 223px;
    top: -143px;
    right: -41px;

}

.bt-linguagem {
    background: url('../img/bt_linguagem.png') no-repeat;
    width: 222px;
    height: 183px;
    top: -123px;
    right: 0px;
}

.bt-comunicacao:hover {
    background: url('../img/bt_comunicacao_hv.png') no-repeat;
}

.bt-valores:hover {
    background: url('../img/bt_valores_hv.png') no-repeat;
}

.bt-normas:hover {
    background: url('../img/bt_normas_hv.png') no-repeat;
}

.bt-herois:hover {
    background: url('../img/bt_herois_hv.png') no-repeat;
}

.bt-crencas:hover {
    background: url('../img/bt_crencas_hv.png') no-repeat;
}

.bt-historias:hover {
    background: url('../img/bt_historias_hv.png') no-repeat;
}

.bt-linguagem:hover {
    background: url('../img/bt_linguagem_hv.png') no-repeat;
}

.bt-ritos:hover {
    background: url('../img/bt_ritos_hv.png') no-repeat;
}

#accordion1 button {
    background: #207893;
}

.painel2 {
    width: 430px;
    height: 470px;
    position: relative;
    background: url('../img/gestao_pessoas.png') no-repeat center center;
    margin: 50px auto;
}

.painel2 button {
    position: absolute;
    border: none;
}

.bt-agregar {
    background: url('../img/bt_agregar.png') no-repeat;
    width: 185px;
    height: 114px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bt-aplicar {
    background: url('../img/bt_aplicar.png') no-repeat;
    width: 184px;
    height: 184px;
    right: 0;
    top: 100px;
}

.bt-recompensar {
    background: url('../img/bt_recompensar.png') no-repeat;
    width: 185px;
    height: 114px;
    right: 0;
    bottom: 60px;
}

.bt-desenvolver {
    background: url('../img/bt_desenvolver.png') no-repeat;
    width: 185px;
    height: 114px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bt-manter {
    background: url('../img/bt_manter.png') no-repeat;
    width: 184px;
    height: 182px;
    left: 0;
    bottom: 100px;
}

.bt-monitorar {
    background: url('../img/bt_monitorar.png') no-repeat;
    width: 185px;
    height: 114px;
    left: 0;
    top: 55px;
}

.bt-agregar:hover {
    background: url('../img/bt_agregar_hv.png') no-repeat;
}

.bt-desenvolver:hover {
    background: url('../img/bt_desenvolver_hv.png') no-repeat;
}

.bt-desenvolver.visto {
    background: url('../img/bt_desenvolver_visto.png') no-repeat;
}

.bt-agregar.visto {
    background: url('../img/bt_agregar_visto.png') no-repeat;
}

.bt-aplicar:hover {
    background: url('../img/bt_aplicar_hv.png') no-repeat;
}

.bt-aplicar.visto {
    background: url('../img/bt_aplicar_visto.png') no-repeat;
}

.bt-recompensar:hover {
    background: url('../img/bt_recompensar_hv.png') no-repeat;
}

.bt-recompensar.visto {
    background: url('../img/bt_recompensar_visto.png') no-repeat;
}

.bt-manter:hover {
    background: url('../img/bt_manter_hv.png') no-repeat;
}

.bt-manter.visto {
    background: url('../img/bt_manter_visto.png') no-repeat;
}

.bt-monitorar:hover {
    background: url('../img/bt_monitorar_hv.png') no-repeat;
}

.bt-monitorar.visto {
    background: url('../img/bt_monitorar_visto.png') no-repeat;
}

.painel3 {
    background: url('../img/bg_painel.png') no-repeat center center;
    background-size: contain;
    padding-top: 100px;
}

.painel3 button {
    height: 500px;
    border: none;
    margin-bottom: 30px;
}

.bt-presencial {
    background: url('../img/bt_presencial.png') no-repeat;
    width: 188px;
    margin-left: 60px;
}

.bt-presencial:hover {
    background: url('../img/bt_presencial_hv.png') no-repeat;
}

.bt-presencial.visto {
    background: url('../img/bt_presencial_visto.png') no-repeat;
}

.bt-remoto {
    background: url('../img/bt_remoto.png') no-repeat;
    width: 274px;
    margin-right: -125px;
}

.bt-remoto:hover {
    background: url('../img/bt_remoto_hv.png') no-repeat;
}

.bt-remoto.visto {
    background: url('../img/bt_remoto_visto.png') no-repeat;
}

.bt-hibrido {
    background: url('../img/bt_hibrido.png') no-repeat;
    width: 295px;
}

.bt-hibrido:hover {
    background: url('../img/bt_hibrido_hv.png') no-repeat;
}

.bt-hibrido.visto {
    background: url('../img/bt_hibrido_visto.png') no-repeat;
}

@media screen and (max-width: 1024px) {
    .painel1 {
        scale: 0.9;
    }
}

@media screen and (max-width: 930px) {
    .painel1_2 {
        flex-direction: column;
    }

    .painel1_3 {
        flex-direction: column;
    }

    .painel1_4 {
        flex-direction: column;
    }

    .painel1 button {
        position: unset;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bt-comunicacao,
    .bt-valores,
    .bt-normas,
    .bt-herois,
    .bt-crencas,
    .bt-ritos,
    .bt-historias,
    .bt-linguagem {
        top: unset;
        right: unset;
        background: #bbcbeb;
        width: 200px;
        height: 150px;
        border-radius: 30px;
    }

    .bt-comunicacao:hover,
    .bt-valores:hover,
    .bt-normas:hover,
    .bt-herois:hover,
    .bt-crencas:hover,
    .bt-ritos:hover,
    .bt-historias:hover,
    .bt-linguagem:hover {
        top: unset;
        right: unset;
        background: #253c5b;
        width: 200px;
        height: 150px;
        border-radius: 30px;
    }

    .bt-linguagem::after {
        content: "Linguagem";
        color: #fff;
        font-weight: bold;
    }

    .bt-historias::after {
        content: "Histórias e mitos";
        color: #fff;
        font-weight: bold;
    }

    .bt-ritos::after {
        content: "Ritos, rituais e cerimônias";
        color: #fff;
        font-weight: bold;
    }

    .bt-crencas::after {
        content: "Crenças e pressupostos";
        color: #fff;
        font-weight: bold;
    }

    .bt-herois::after {
        content: "Heróis";
        color: #fff;
        font-weight: bold;
    }

    .bt-normas::after {
        content: "Normas";
        color: #fff;
        font-weight: bold;
    }

    .bt-valores::after {
        content: "Valores";
        color: #fff;
        font-weight: bold;
    }

    .bt-comunicacao::after {
        content: "Comunicação";
        color: #fff;
        font-weight: bold;
    }
}

@media screen and (max-width: 780px) {
    .painel3 {
        background: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .bt-presencial {
        margin-left: 0px;
        margin-right: 0px;
    }

    .bt-remoto {
        margin-left: 80px;
        margin-right: 0px;
    }

    .bt-hibrido {
        margin-left: 80px;
        margin-right: 0px;
    }

}

@media screen and (max-width: 480px) {
    .painel2 {
        transform: scale(.8);
        margin: 5% -10%;
    }
}